.side-bar__icon {
  width: 25px;
  height: 25px;
  color: white;
  transition: all 0.3s linear;
  padding: 10px;
  box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .side-bar__icon {
    width: 20px;
    height: 20px;
  }
}
