.header__logo {
    max-height: 70px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 250px;
    }
  }

  @media screen and (max-width: 484px) {
    .header__logo {
        width: 200px;
    }
  }