.home__add-student_type_delete {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1%;
}

@media screen and (max-width: 485px) {
    .home__add-student_type_delete {
        margin-right: 0;
    }
  }