.home__title {
    margin: 1rem;
    color: #455a64;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
    .home__title {
        font-size: 1.5rem;
    }
  }