.register__link_type_white {
    background-color: #ffffff;
    width: 100%;
    color: black;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.register__link_type_white:hover {
    background-color: rgb(12 70 138 / 50%);
}

@media screen and (max-width: 767px) {
    .register__link_type_white  {
        font-size: 0.9rem;
    }
  }