.home__status {
  position: relative;
}

.home__status::before {
  width: 12px;
  height: 12px;
  content: " ";
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: absolute;
  left: -2.5rem;
  top: 0.3rem;
}
