.home__status {
  position: relative;
}

.home__status::before {
  width: 1rem;
  height: 1rem;
  content: " ";
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: absolute;
  left: -2.5rem;
  top: 0.3rem;
  z-index: 2;
}

.home__status::after{
  content: "";
  width: 3px;
  height: 106%;
  position: absolute;
  background-color: dodgerblue;
  top: 1rem;
  left: -1.1rem;
}

.home__status:last-of-type:after {
  display: none;
}

