.popup__save_type_delete {
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #455a64;
    min-width: 4rem;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .popup__save_type_add {
        font-size: 20px;
    }
  }