.home__link {
    color: #0071a6;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 767px) {
    .home__link {
        font-size: 17px;
    }
  }

  @media screen and (max-width: 410px) {
    .home__link {
        font-size: 15px;
    }
  }
  
  