/* @keyframes ani {
    0% {transform: translateY(-100%); }
    100% {transform: translateY(0); }
  } */

  .home__grade-container {
    /* transition: all 0.3s ease-in-out; */
    list-style-type: none;
    /* display: none; */
  }
  
  .home__grade-container-enter {
    /* transition: all 0.3s ease-in-out; */
    /* display: none; */
    opacity: 0;
    transform: scale(0.9);
  }
  
  .home__grade-container-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  
    /* transform: translateY(-150%);
      animation: ani 1s forwards; */
  }
  
  .home__grade-container-exit {
    opacity: 1;
  }
  
  .home__grade-container-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
