
  .home__grade-container {
    max-height: 0;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .home__grade-container_active {
    max-height: 100rem; 
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }

  @media screen and (max-width: 767px) {
    .home__grade-container{
        padding: 0;
    }
  }

  

  
