.home__wrapper {
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 25px;
}

@media screen and (max-width: 767px) {
    .home__wrapper {
        width: 100%;
    }
  }