.register__link {
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(92, 92, 255);
    width: fit-content;
    padding: 0.5rem 0.4rem;
    border-radius: 10px;
    margin-top: 1rem;
    transition: all 0.2s linear;
}

.register__link:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(45, 45, 252);
   
}