.main {
    min-height: 74vh;
    width: 100%;
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}