.home__add-student {
  padding: 5px;
  margin-top: 1rem;
  border: 2px solid;
  border-radius: 5px;
  background-color: white;
  color: #467e7f;
  font-weight: 500;
  font-size: 18px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  transition: all 0.1s linear;
}

.home__add-student:hover {
  background-color: #467e7f;
  color: white;
}

@media screen and (max-width: 767px) {
  .home__add-student {
    font-size: 15px;
  }
}
