.header__logout {
    border: 1px solid rgb(77, 199, 236);
    border-radius: 10px;
    background-color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    transition: all 0.1s linear;
}

.header__logout:hover {
    background-color: #f1faff;
}

@media screen and (max-width: 767px) {
    .header__logout {
        height: 2.5rem;
    }
  }