.popup__title_type_add {
    padding: 29px 0 44px 23px;
    font-size: 30px;
    color: #455a64;
}

@media screen and (max-width: 767px) {
    .popup__title_type_add {
        font-size: 20px;
        padding: 18px 0 39px 12px;
    }
  }