.register__description_type_blue {
    text-decoration: none;
    background-color: #4949f4;
    transition: all 0.1s linear;
    margin-top: 2rem;
}

.register__description_type_blue:hover {
    color: white;
    background-color: rgb(0 0 245);
}