.register__description_type_grey {
    background-color: white;
    color: black;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    .register__description_type_grey  {
        font-size: 1rem;
    }
  }