.side-bar {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 52px;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    transition: all 0.3s linear;
}

@media screen and (max-width: 767px) {
    .side-bar {
      min-width: 45px;
    }
  }