.home__user-name {
  margin-left: 15px;
  margin-bottom: 0;
  color: #455a64;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 767px) {
  .home__user-name {
    font-size: 25px;
  }
}

@media screen and (max-width: 410px) {
  .home__user-name {
    font-size: 1.1rem;
  }
}
